.dropdown.menu {
    li.is-dropdown-submenu-parent > a::after {
        position: absolute;
        top: $menu-item-padding-top*1.1;
        right: $menu-item-padding-side;
        content: "\f107";
        font-weight: bold;
        font-family: 'FontAwesome';
        border: none;
    }
}
