.menu {
    .menu__item {
        vertical-align: baseline;
        text-transform: uppercase;
        a {
            display: inline-block;
        }
        &.active > a {
            border-bottom: 4px solid $pink;
        }
    }
    &.menu_centered {
        text-align: justify;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
        > .menu__item {
            display: inline-block;
        }
    }
}
