.menu {
    color: $white;
    .menu__item {
        vertical-align: baseline;
        text-transform: uppercase;
        a {
            display: inline-block;
            color: $white;
        }
        &.active > a {
            border-bottom: 4px solid $pink;
        }
    }
    &.menu_centered {
        text-align: justify;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
        > .menu__item {
            display: inline-block;
        }
    }
    &.menu_upper {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

.site-name {
    font-size: 1.71rem;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
}