.menu {
    &.menu_top {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

.menu__item {
    text-transform: uppercase;
    a {
        @include transition(all, 0.3s, ease-out);
        display: inline-block;
        color: $white;
        &:hover {
            color: lighten($purple, 10%);
        }
    }
    &.active > a {
        border-bottom: 4px solid $pink;
    }
}

.logo {
    @include transition(all, 0.5s, ease-out);
    font-size: 1.71rem;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: lighten($purple, 10%);
    }
}
