.tabs {
    border-radius: $border-radius;
    border: 1px solid $purple;
    .tabs-title {
        width: 50%;
        border-radius: $border-radius;
        text-transform: uppercase;
        text-align: center;
        a {
            color: $purple;
        }
        &.is-active {
            a {
                color: $white;
            }
        }
    }
}

.tabs-content {
    border: none;
}
