.no-pad {
    padding: 0!important;
}

.no-float-sm {
    @media screen and (max-width: $breakpoint-sm) {
        float: none!important;
    }
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: $white;
}

.text-purple {
    color: $purple;
}

.text-gray {
    color: $medium-gray;
}

.text-dark-gray {
    color: $dark-gray;
}

.aligner-abs {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.aligner-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justifier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-justify {
    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.text-divider {
    position: relative;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    &:after,
    &:before {
        display: block;
        position: absolute;
        bottom: 50%;
        width: 50%;
        height: 1px;
        background: $dark-gray;
        content: "";
    }
    &:after {
        right: -15px;
    }
    &:before {
        left: -15px;
    }
}
