.no-pad {
    padding: 0!important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: $white;
}

.text-gray {
    color: $medium-gray;
}

.aligner-abs {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.aligner-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.text-bold {
    font-weight: bold;
}

.justifier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-justify {
    text-align: justify;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.text-divider {
    position: relative;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    &:after,
    &:before {
        display: block;
        position: absolute;
        bottom: 50%;
        width: 50%;
        height: 1px;
        background: $dark-gray;
        content: "";
    }
    &:after {
        right: -15px;
    }
    &:before {
        left: -15px;
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #909;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #909;
}
