// shadow parameters
$top: 0;
$left: -106px;
$blur: 71px;
$spread: -58px;
$color: #000;
$inset: true;
// -- shadow parameters
$poster-horizontal-width: 32%;
$article-border: darken($light-gray, 10%);
.articles {
    width: 70%;
    max-width: 821px;
    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.article {
    margin-bottom: 20px;
    background: $white;
    &.article_horizontal {
        display: flex;
        .article__poster {
            display: flex;
            flex-direction: column;
            width: $poster-horizontal-width;
            min-width: 260px;
            img {
                object-fit: cover;
                flex-grow: 1;
                height: auto;
            }
        }
        .article-text-wrapper {
            width: 100%-$poster-horizontal-width;
        }
        .article__body,
        .article__footer {
            padding: $default-padding*0.5 $default-padding;
        }
        @media screen and (max-width: $breakpoint-sm) {
            .article__poster {
                min-width: 130px;
            }
            .article__text,
            .author__avatar {
                display: none;
            }
        }
    }
    &.article_sm,
    &.article_xs {
        .article__poster {
            height: 160px;
        }
        .article__body {
            .h1 {
                font-size: 1rem;
            }
        }
        @media screen and (max-width: $breakpoint-sm) {
            .article__text,
            .author__avatar {
                display: none;
            }
        }
    }
    &.article_xs {
        @media screen and (max-width: $breakpoint-sm) {
            .article__body, 
            .article__footer {
                display: none;
            }
        }
    }
    &.article_md {
        .article__poster {
            height: 300px;
        }
        .article__body {
            .h1 {
                font-size: 1.14rem;
            }
        }
        @media screen and (max-width: $breakpoint-sm) {
            .article__body,
            .article__footer {
                display: none;
            }
        }
    }
    &.article_lg {
        .article__poster {
            height: 420px;
        }
    }
    &.article_bordered {
        border: 1px solid $article-border;
        border-radius: $border-radius;
        overflow: hidden;
    }
}

.article__poster {
    position: relative;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &:after {
        //shadow
        @include box-shadow($top, $left, $blur, $spread, $color, $inset);
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        content: "";
        z-index: 1;
    }
    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: transparent;
    }
}

.article__body {
    position: relative;
    font-family: $font-open-sans;
    padding: $default-padding;
    .h1 {
        font-size: 1.28rem;
        font-weight: bold;
        margin-bottom: 0;
    }
    @media screen and (max-width: $breakpoint-sm) {
        .h1 {
            font-size: 1rem;
        }
        padding: $default-padding/2;
    }
}

.article__footer {
    display: flex;
    align-items: center;
    padding: $default-padding;
    border-top: 1px solid $article-border;
    @media screen and (max-width: $breakpoint-sm) {
        padding: $default-padding/2;
    }
}

.share {
    &:after {
        font-family: "FontAwesome";
        font-size: 21px;
        content: "\f142";
        color: #000;
    }
}
