.aside {
    background: $white;
    width: 26.4%;
    max-width: 320px;
    padding-left: 38px;
    .article {
        &.article_horizontal {
            .article__poster {
                min-width: 100px;
            }
        }
        .article__body {
            padding: 0 0 0 16px;
            .h1 {
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        max-width: 100%;
        background: $black-light;
        color: $medium-gray;
        .aside-card__title {
            color: $light-gray;
            border-bottom: none;
        }
        .tag {
            border-color: $light-gray;
            background: transparent;
            &.active,
            &:hover {
                color: $white;
                border-color: $light-gray;
                background-color: $dark-gray;
            }
        }
    }
}
