.footer {
    background: $black-light;
    .column {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    .h2 {
        font-size: 1.28rem;
        color: $white;
    }
    .form {
        .input,
        .input-group {
            color: $medium-gray;
            border-color: $light-gray;
            background: transparent;
        }
    }
}

.footer-widgets {
    padding: 45px 0;
}

.footer__bottom {
    padding: 20px;
    background: $color-secondary;
    .icon {
        a {
            color: $dark-gray;
        }
    }
}
