.footer {
    background: $black-light;
    .column {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    .h2 {
        font-size: 1.28rem;
        color: $white;
    }
    .form {
        .input {
            color: $dark-gray;
            border-color: $light-gray;
            margin-bottom: 9px;
        }
    }
}

.footer__bottom {
    padding: 20px 0;
    background: $color-secondary;
}
