.header {
    position: relative;
    &.header_top {
    	color: $gray;
        background: $black-light;
        padding: 0.78rem 0;
        font-size: 1.2em;
        a {
            color: $gray;
            &:hover {
                color: $white;
            }
        }
    }
}
