.icon {
    display: inline-block;
    vertical-align: middle;
    padding: 0.3em;
    font-size: 1rem;
    &.icon_bordered {
        padding-left: 1em;
        padding-right: 1em;
        &:not(:first-child) {
            border-left: 1px solid #5c5c5b;
        }
    }
    &.icon_circle {
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        &.icon_vk {
            background: $color-vk;
        }
        &.icon_fb {
            background: $color-fb;
        }
        &.icon_twitter {
            background: $color-twitter;
        }
        &.icon_pinterest {
            background: $color-pinterest;
        }
        &.icon_dribbble {
            background: $color-dribbble;
        }
        &.icon_tumblr {
            background: $color-tumblr;
        }
    }
}

.icon-group:not(:last-child) {
    margin-right: 20px;
    @media screen and (max-width: $breakpoint-sm) {
        margin-right: 10px;
    }
}
