.tag {
	display: inline-block;
	min-width: 80px;
    margin-right: 1em;
    padding: 0.68em 1.81em 0.56em;
    border: 1px solid transparent;
    border-radius: 2em;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    background-color: $light-gray;
    @include transition();
    &.tag_lg {
    	font-size: 1.14rem;
    }
    &.tag_sm {
    	font-size: 1rem;
    }
    &.active,
    &:hover {
    	color: $purple;
    	border-color: $purple;
    	background-color: transparent;
    }
}
