.twitter-post {
    padding: 16px 0;
    border-bottom: $hr-border;
    &:last-of-type {
        border-bottom: none;
        margin-bottom: 35px;
    }
    .icon {
        color: $color-twitter;
        padding: 0 14px 0 0;
    }
    a {
    	color: $dark-gray;
    	text-decoration: underline;
    	&:hover {
    		text-decoration: none;
    	}
    }
}

.twitter-post__text {
    color: $dark-gray;
}

.twitter-post__footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: $dark-gray;
}
